<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= workout.hours %>
  </p>

  <p>
    <strong>Dateworked:</strong>
    <%= workout.dateWorked %>
  </p>

</div>
